extends layout

block content

  if title
    h1 #{title}
  
  div
    a(href='/game/create/') Create new game
  div
    a(href='game') Join existing game

  if user
    h1 #{user.userName}
    h1 #{user._id}

  if games
    each game in games
      li
        a(href=game.url) #{game._id}

  div.form-group
    label(for='action') action: 
    input(type='text' name='action')
  div.form-group
    button.btn.btn-primary(type='button' onclick='send_post()') send_post test
  div#div_response

  if errors 
    ul
      for error in errors
        li!= error.msg
